# Configurações do Banco de Dados PostgreSQL para o Docker Compose
DB_DATABASE=refactorian
DB_USERNAME=refactorian
DB_PASSWORD=refactorian

# Portas Expostas no Host (Mude se houver conflito local)
HTTP_PORT=80
REDIS_PORT=6379
DB_PORT=5433
