# Dependências e Builds
/node_modules
/vendor
/public/build
/public/hot

# Laravel / PHP
.env
.env.backup
.env.production
/auth.json
/public/storage
/storage/*.key
/storage/pail
/public/fonts-manifest.dev.json
_ide_helper.php
.phpactor.json
Homestead.json
Homestead.yaml

# Testes e Cache
/.phpunit.cache
.phpunit.result.cache

# Logs
*.log
npm-debug.log
yarn-error.log

# Arquivos de Sistema
.DS_Store
Thumbs.db

# IDEs e Editores
/.codex
/.cursor/
/.fleet
/.idea
/.nova
/.vscode
/.zed


